extends layout.jade
block sections
  section.intro
    .container
      h1.has-subtitle Terms of service
      p.subtitle All the stuff those guys in suits make us say
  section.light
    .container
      .row
        .col-sm-6
          h2 Overview
          p
            | Surreal CMS (&#8220;Service&#8221;) is provided by
            a(href="http://www.abeautifulsite.net/")
              | A Beautiful Site,
              | LLC
            | (&#8220;Company&#8221;). By using any portion of the service,
            | which includes any and all services provided for content
            | management purposes, you are accepting the Terms of
            | Service (&#8220;terms&#8221;) provided herein. If you do not agree
            | with these terms for any reason, you are asked not to
            | use Surreal CMS. Use of the Service indicates your
            | acceptance of these terms. A Beautiful Site, LLC.
            | reserves the right to update or modify these terms at
            | any time without notice. For the most recent, official
            | terms of service, refer back to this page at any time.
          h2 Usage
          p
            | As an account holder, A Beautiful Site, LLC. grants you
            | a limited license to access and use Surreal CMS. The
            | Company reserves the right to terminate this license at
            | any time for any reason. This right will generally be
            | practiced only when abuse of the service or nonpayment
            | has been determined.
          h2 Billing &#38; Refund Policy
          p
            | A Beautiful Site, LLC. charges and collects for use of
            | Surreal CMS. The payment amount is determined by your
            | subscription level. Payment amounts are calculated from
            | the
            a(href="pricing.html") schedule of fees
            | or &#8216;as quoted&#8217;.
            | The Company reserves the right to modify the schedule of
            | fees and charges at any time, and any such change will
            | come into effect immediately for new subscribers and upon
            | the subscription renewal for existing subscribers.
          p
            | While the subscription is not delinquent and this agreement
            | remains in force, your subscription will be automatically
            | renewed upon the completion of the subscription period,
            | and where you are responsible for payment, you will be
            | invoiced in accordance with the schedule of fees in force
            | at that time, excepting the case where your service is
            | subject to a quotation or a written pricing agreement
            | signed by a Managing Member of A Beautiful Site, LLC.
            | Any such negotiated pricing terms are confidential and
            | may not be disclosed to a third party.
          p
            | Subscriptions may be canceled at any time without
            | incurring a cancellation fee. Changes in your
            | subscription may not take effect until your
            | subscription renewal period. Premature cancellation of
            | your subscription does not make you eligible for a
            | refund in whole or part. If you believe your invoice
            | is incorrect for any reason, you must contact
            | A Beautiful Site, LLC. within 30 days of the
            | subscription renewal to be eligible to receive an
            | adjustment or credit at the discretion of the Company.
          p
            | Customers who are unsatisfied with the Service may
            | request a refund no more than 30 days after their most
            | recent renewal period. Upon requesting a refund, your
            | account will be terminated and any refund deemed valid
            | will be issued by the Company. Refunds will be issued
            | no more than one business week after the request is
            | made. To request a refund,
            a(href="contact.html")
              | contact
              | us via email
            | .
          p
            | By using the Service, you acknowledge and accept that
            | A Beautiful Site, LLC. may exercise, at our discretion,
            | service cancellation for delinquent accounts. You are
            | responsible for ensuring the continuance of your account
            | and compliance with this agreement.
          h2 Indemnity
          p
            | You agree to indemnify, defend, and hold A Beautiful
            | Site, LLC. harmless from and against any and all
            | claims, liability, losses, costs, and expenses
            | (including attorneys" fees) incurred in connection with
            | any use or alleged use of Surreal CMS.
        .col-sm-6
          h2 Privacy Policy
          p
            | We respect the privacy of our users and we are committed
            | to protecting it. For that reason, Surreal CMS only gathers
            | personal information that is necessary to establish an
            | account on your behalf. This information will
            em
              | never
              | be sold or shared
            | to a third party
            em
              | for any
              | reason
            | .
          p
            | Surreal CMS may analyze traffic to its websites from the
            | Internet. Generic, non-personal information such as an
            | estimate of your geographical location, web browser,
            | operating system platform, time of visit, pages visited,
            | etc. may be collected in an effort to improve our service.
            | This information will never be sold or shared to a third
            | party for any reason.
          p
            | Information collected when individuals register, submit
            | questions, or communicate with Surreal CMS in any way may
            | be retained so we can respond to you regarding your account
            | or inquiry, if necessary.
          p
            | You may receive an occasional email regarding your account.
            | You may opt out of these notifications at any time by
            | selecting the unsubscribe link in the corresponding email.
            | Surreal CMS will never sell or share your email address with
            | third-parties. At any time, you may opt in or out of
            | receiving updates and special offers by
            a(href="contact.html") contacting us
            | .
          p
            | We reserve the right to modify this Privacy Policy at any
            | time without notice. All changes to our Terms of Service
            | and Privacy Policy will be posted to this page on our
            | website.
          h2 Disclaimer of Warranties &#38; Limitation of Liability
          p
            em (Sorry, they made us put this section in ALL CAPS)
          p
            | A BEAUTIFUL SITE, LLC. DOES NOT WARRANT THAT SURREAL CMS
            | WILL BE UNINTERRUPTED OR ERROR FREE; NOR DOES A BEAUTIFUL
            | SITE, LLC. MAKE ANY WARRANTY AS TO THE RESULTS TO BE
            | OBTAINED FROM USE OF THE SERVICE. SURREAL CMS IS PROVIDED
            | ON AN &#8220;AS-IS, AS-AVAILABLE&#8221; BASIS. A BEAUTIFUL SITE, LLC.
            | DOES NOT MAKE ANY WARRANTIES OF ANY KIND, EITHER EXPRESS
            | OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR
            | A PARTICULAR PURPOSE.
          p
            | YOU ARE SOLEY REPONSIBLE FOR YOUR USE OF THE SERVICE.
            | UNDER NO CIRCUMSTANCES WILL A BEAUTIFUL SITE, LLC. BE
            | HELD LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL
            | OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OF OR
            | INABILITY TO USE THE SERVICE, EVEN IF SUCH PARTY HAS BEEN
            | ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
          p
            | SOME STATES DO NOT ALLOW EXCLUSION OF IMPLIED WARRANTIES
            | OR LIMITATION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL
            | DAMAGES, SO THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT
            | APPLY TO YOU. IN SUCH STATES, THE LIABILITY OF A BEAUTIFUL
            | SITE, LLC. SHALL BE LIMITED TO THE GREATEST EXTENT PERMITTED
            | BY LAW.
