extends layout\layout.jade
block sections
  section.intro
    .container
      h1.has-subtitle=_("Cloud HMI")
      p.subtitle=_("Powerful features with intuitive UI")
  section#cloudhmi-in-five-steps
    .container
      h1=_("Cloud HMI in five steps")
      .row
        .col-md-8.col-md-push-2
          .circle-left
            span.circle.circle-blue.circle-white-icon
              i.fa.fa-laptop
            !=_md("hmi-feature steps deploy cloud2hmi")
          .circle-left
            span.circle.circle-green.circle-white-icon
              i.fa.fa-plug
            !=_md("hmi-feature steps connect devices")
          .circle-left
            span.circle.circle-orange.circle-white-icon
              i.fa.fa-pencil
            !=_md("hmi-feature steps edit hmi")
          .circle-left
            span.circle.circle-blue.circle-white-icon
              i.fa.fa-mobile
            !=_md("hmi-feature steps publish")
          .circle-left
            span.circle.circle-green.circle-white-icon
              i.fa.fa-truck
            !=_md("hmi-feature steps explorer")
  section.light
    .container
      .row.feature-row
        .col-md-6
          .feature-desc
            .icon-left
              i.fa.fa-check.icon-success
              !=_md("hmi-feature drag to layout")
        .col-md-6.co
          .feature-image
            img(src="img/hmi/dragtolayout.png")
      .row.feature-row
        .col-md-6
          .feature-desc
            .icon-left
              i.fa.fa-check.icon-success
              !=_md("hmi-feature select tag")
        .col-md-6.co
          .feature-image
            img(src="img/hmi/selecttag.png")
      .row.feature-row
        .col-md-6
          .feature-desc
            .icon-left
              i.fa.fa-check.icon-success
              !=_md("hmi-feature mobile friendly ui")
        .col-md-6.co
          .feature-image
            img(src="img/hmi/mobiledevice.png")

  section
    .container
      .row
        .col-sm-6.col-sm-push-3
          !=_md("under construct")
