extends layout\layout.jade
block sections
  section
    .container
      .row
        .col-sm-6.col-sm-push-3
        :markdown
          ## Feature of Cloud HMI is currently under construct
          Currently we are in internal accellerating status, so we only invite 
          friends to our alpha try-run, if you still have interesting, 
          you can drop us a [email](mailto:invite@plant2cloud.com?subject=interesting%20in%20cloud2plant)
