extends layout\layout.jade
block sections
  section.dark
    .container
      h1.has-subtitle=_("Bring cloud to your plant")
      p.subtitle=_("without putting your data into risk")
      .row.text-center
        .col-sm-4
          span.circle.circle-lg.circle-orange
            i.fa.fa-cloud
          h4 Connect to cloud technology
          p
            | Modern cloud technology will be brought to your plant, access your data anywhere with any modern device.
        .col-sm-4
          span.circle.circle-lg.circle-green
            i.fa.fa-pencil-square-o
          h4 Intuitive editor with cloud support
          p
            | Like any other cloud editor, you will always get the up-to-date editor with cloud component support.
        .col-sm-4
          span.circle.circle-lg.circle-blue
            i.fa.fa-lock
          h4 All the data are still in your hand
          p
            | Our cloud do not collect your data, it's highest secured by never hand over your data to anybody.
      .call-to-action-buttons
        a.btn.btn-success(href="#products") Learn more
        //-a.btn.btn-link(href="signup.html") Sign up for a free trial
  section.light#products
    .container
      h1 What can we brought to you?
      .row.text-center
        .col-sm-4
          span.cloud.cloud-hmi
          :markdown
            Lots of cloud features, like component store and up-to-date components, edit anywhere.
            All you need is a modern browser.
          .call-to-action-buttons
            a.btn.btn-success(href="hmifeature.html") Learn more
        .col-sm-4
          span.cloud.cloud-plc
          :markdown
            Program your configuration in browser with modern debug utility. 
            Very easy to use cloud snippets to accelerate your development.
          .call-to-action-buttons
            a.btn.btn-success.disabled Still in Development
        .col-sm-4
          span.cloud.cloud-dcs
          :markdown
            All your plants will be available in browser, with your modern mobile or tablet.
            Very easy to know the status and make your decision wise and quick.
          .call-to-action-buttons
            a.btn.btn-success.disabled Still in Plan
  section.dark
    .container
      h1 Why you need our cloud to plant?
      .row
        .col-md-5.col-md-push-1.col-sm-6
          .icon-left
            i.fa.fa-lock.icon-success
            h3 No risk to your data
            :markdown
              We never upload any potion of your data into the cloud without your authorization.
              Your data will always stay in your site.
          .icon-left
            i.fa.fa-clock-o.icon-success
            h3 Saves you time
            :markdown
              Embedded the featured component into your project by one click.
              And the components is increasing continuously
          .icon-left
            i.fa.fa-usd.icon-success
            h3 Super affordable
            :markdown
              We are using _pay as you grown_ model, so it's easy to get started.
        .col-md-5.col-md-push-1.col-sm-6
          .icon-left
            i.fa.fa-magic.icon-success
            h3 Tons of features
            :markdown
              We provide a lot of features that make your life easier and enjoyable, 
              and it's increasing even after you have deployed the server side in your plant.
          .icon-left
            i.fa.fa-cloud-upload.icon-success
            h3 Nothing to update
            :markdown
              You can never worry about the software being out of date, we are releasing
              bug fixes, new features and updates on a regular basis.
          .icon-left
            i.fa.fa-flip-horizontal.fa-comment-o.icon-success
            h3 Legendary support
            :markdown
              We are stand-by for 7 X 24 hours, even in the weekends and holidays.
      .call-to-action-buttons
        //-a.btn.btn-primary(href="signup.html") Sign up for a free trial
        a.btn.btn-primary(href="hmifeature.html") View features
  section.light
    .container
      h1 Mobile-friendly design
      .row
        .col-lg-6.col-lg-push-5.col-md-6.col-md-push-6
          img(src="img/devices.png", alt="Laptop, tablet, and phone")
        .col-lg-4.col-lg-pull-5.col-md-5.col-md-pull-6
          h3 Access HMI anywhere
          :markdown
            After publish, you can view the HMI anywhere with a modern browser, 
            even in the TV with a modern browser.

            This important ability can let you never stick to a factory because 
            you like the size of its HMI view, now you can use any device with modern
            browser, like the iPad, Android Pad, Android TV ...
      .call-to-action-buttons
        //-a.btn.btn-primary(href="signup.html") Sign up for a free trial
        a.btn.btn-primary(href="hmifeature.html") View features
  //- section.slim
  //-   .container
  //-     .row
  //-       .col-sm-10.col-sm-push-1
  //-         blockquote.testimonial
  //-           img(src="img/mike-cmscritic.jpg", alt="Mike Johnston of CMS Critic")
  //-           q The devs have done an amazing job with this one
  //-           cite
  //-             a(href="http://www.cmscritic.com/surreal-cms-launches-v5-with-huge-improvements/", target="_blank")
  //-               | Mike Johnston, CMS Critic
